@model DealDouble.Entities.Auction
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Auction</h2>

<form id="editForm">
    <input type="hidden" name="ID" value="@Model.ID" />

    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" name="Title" id="Title" value="@Model.Title" />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" />
    </div>

    <div class="form-group">
        <label for="ActualPrice">Actual Price</label>
        <input type="number" class="form-control" name="ActualAmount" id="ActualAmount" value="@Model.ActualAmount" />
    </div>

    <div class="form-group">
        <label for="StartingTime">Starting Time</label>
        <input type="text" class="form-control" name="StartingTime" id="StartingTime" value="@Model.StartingTime" />
    </div>

    <div class="form-group">
        <label for="EndingTime">Ending Time</label>
        <input type="text" class="form-control" name="EndTime" id="EndTime" value="@Model.EndTime" />
    </div>

    <button type="button" class="btn btn-success" id="updateButton">Update</button>
</form>

<script src="~/Scripts/ControllerScripts/Auctions.js"></script>